* {
  margin: 0;
  padding: 0;
}

.svg {
  text-align: center;
  height: 200px;
}

#Vector_19{ 
   animation: changeColor 6s ease;    /* little-heart */
}
#heart {
  animation: bounce 5s ease;
  transform-box: fill;
}

#heart-curve{
animation: bounce 5s ease;
}

@keyframes changeColor {
  0% {
    fill: crimson;
  }
  50% {
    fill: cyan;
  }
  100% {
    fill: darkorange;
  }
}
